
body {
    margin: 0;
    padding: 0;
}

header {
    background-color: white;
    position: fixed;
    display: flex;
    height: 64px;
    align-items: center;
    width: 100%;
}

header nav {
    width: 100%;
    align-items: center;
    white-space: nowrap;
}

header nav .logo .title a {
    font-weight: bold;
}

header nav .navigation .icon {
    display: none;
}

header nav ul {
    list-style-type: none;
    align-items: center;
    display: flex;
}

header nav .navigation {
    float: right;
}

header nav li {
    display: inline;
    align-items: center;
    height: 100%;
    margin-right: 16px;
}

header nav li a {
    align-items: center;
    height: 100%;
}

header nav .logo {
    float: left;
    padding-left: 24px;
    display: flex;
    align-items: center;
    height: 50px;
    white-space: nowrap;
}

.learn {
    padding-top: 64px;
    background-color: rgb(216,216,216);
    display: flex;
    align-items: center;
    color: rgb(74,74,74);
    width: 100%;
}

.learn .picture {
    width: 60%;
}

.learn .picture img {
    margin: 32px 24px 32px 24px;
    max-width: 90%;
    display: block;
}

.learn .explanation {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 40%;
}

.learn .explanation button {
    padding: 8px;
    background-color: rgb(74,74,74);
    color: white;
    width: 200px;
    font-size: 20px;
}

.learn h1 {
    margin-top: 0;
    font-size: 40px;
    white-space: wrap;
}

.learn h4 {
    font-size: 20px;
    white-space: wrap;
}

.practice {
    width: 100%;
    display: flex;
    align-items: center;
}

.practice .left {
    width: 60%;
}

.practice .left img {
    margin: 32px 24px 0px 24px;
    max-width: 90%;
}

.practice .explanation {
    margin: 32px 50px 32px 24px;
}

.practice .right {
    width: 40%;
    align-items: center;
}

.practice .right .image {
    width: 50%;
    padding: 16px;
    min-width: 25%;
}

.practice .right .imagemobile {
    display: none;
}

.practice .right img {
    width: 100%;

}

.practice .right .explanation {
    width: 65%;
}

.practice .right .orientation, .practice .right .campus, .practice .right .lecture {
    display: flex;
    align-items: center;
    border: 1px solid rgb(216,216,216);
    max-height: 190px;
}

.practice .right .lecture {
    background-color:  rgb(216,216,216);
}

.practice .right h2 {
    white-space: nowrap;
}

.practice .right h3 {
    color: rgb(74,74,74);
    white-space: nowrap;
}

.practice .right h4 {
    color: rgb(109, 184, 255);
    white-space: nowrap;
}

.start {
    background-color: rgb(234,235,236);
    text-align: center;
    width: 100%;
}

.start h1 {
    padding-top: 32px;
    padding-bottom: 0px;
    color: rgb(74,74,74);
    font-size: 36px;
}


.start .courses .line {
    display: flex;
    justify-content: center;
}

.start .courses .line .course {
    max-width: 300px;
    margin: 16px;
    background-color: white;
}

.start .courses .line .course .picture {
    width: 300px;
}

.start .courses .line .course .picture img {
    max-width: 100%;
}

.start .courses .line .course .explanation {
    text-align: left;
    padding-left: 16px;
    color: rgb(74,74,74);
}

.exhibit {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid rgb(234,235,236);
}

.exhibit .content {
    display: flex;
}

.exhibit .content .video {
    width: 60%;
}

.exhibit .content .video video {
    width: 100%;
}

.exhibit .content .examples {
    width: 40%;
}

.exhibit .content .examples .example {
    display: flex;
    align-items: center;
}

.exhibit .content .examples .example .picture {
    width: 35%;
}

.exhibit .content .examples .example .picture img {
    max-width: 100%;
    padding: 16px;
}


.exhibit .content {
    text-align: left;
}
.exhibit .content h2 {
    color: rgb(74,74,74);
    font-size: 20px;
    padding-left: 20px;;
}
.exhibit .content h3 {
    color: rgb(74,74,74);
    font-size: 14px;
    padding-left: 20px;;
}



footer {
    background-color: white;
    display: flex;
    height: 64px;
    align-items: center;
    width: 100%;
}

footer nav {
    width: 100%;
    align-items: center;
    white-space: nowrap;
}

footer nav ul {
    list-style-type: none;
}

footer nav .navigation {
    float: right;
}

footer nav li {
    display: inline;
    margin: 16px;
}

footer nav .logo {
    float: left;
    padding-left: 24px;
    display: flex;
    align-items: center;
    height: 50px;
    white-space: nowrap;
}


@media screen and (max-width: 900px) { 

    
    header nav ul {
        list-style-type: none;
        display: flex;
        justify-content: space-around;
    }
    
    
    header nav li {
        display: inline;
        margin: 0px;
    }
    
    header nav .logo {
        display: flex;
        align-items: center;
        height: 50px;
        white-space: nowrap;
        width: 25%;
        justify-content: space-around;
        padding: 0px;
    }

    header nav .navigation {
        width: 75%;
        height: 50px;
        display: flex;
        align-items: center;
    }

    header nav .navigation .icon {
        width: 100%;
        display: flex;
        justify-content: space-around;
        padding: 0;
        margin: 0;
        align-items: center;
    }

    header nav .logo .title {
        display: none;
    }

    header nav .navigation .words {
        display: none;
    }

    .learn {
        padding-top: 64px;
        background-color: rgb(216,216,216);
        display: block;
        align-items: center;
        color: rgb(74,74,74);
        width: 100%;
    }
    
    .learn .picture {
        width: 100%;
    }
    
    .learn .picture img {
        margin: 0px 0px 32px 0px;
        max-width: 100%;
        display: block;
    }
    
    .learn .explanation {
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: 16px;
        width: 100%;
        padding-bottom: 32px;
    }
    
    .learn .explanation button {
        padding: 8px;
        background-color: rgb(74,74,74);
        color: white;
        width: 200px;
        font-size: 20px;
    }
    
    .learn h1 {
        margin-top: 0;
        font-size: 40px;
        white-space: wrap;
    }
    
    .learn h4 {
        font-size: 20px;
        white-space: wrap;
    }

    .practice .left {
        display: none;
    }

    .practice .right {
        width: 100%;
    }

    .practice .right .image {
        display: none;
    }

    .practice .right .imagemobile {
        display: block;
    }

    .practice .right .orientation, .practice .right .campus, .practice .right .lecture {
        display: block;
        max-height: 600px;
    }

    .practice .right .orientation .imagemobile, .practice .right .campus .imagemobile, .practice .right .lecture .imagemobile {
        padding: 16px 16px 0px 16px;
    }

    .practice .right .orientation .explanation, .practice .right .campus .explanation, .practice .right .lecture .explanation {
        margin: 6px 8px 32px 16px;
    }

    .start {
        background-color: white;
    }

    .start .courses .line .course {
        background-color: rgb(234,235,236);
        height: 80px;
        margin: 12px;
        max-width: 600px;
        align-items: center;
        display: flex;
    }

    .start .courses .line .course .explanation {
        width: 100%;
    }

    .start .courses .picture, .start .course h3 {
        display: none;
    }

    .start .courses .line {
        display: block;
        justify-content: center;
    }

    .exhibit .examples {
        display: none;
    }

    .exhibit .content .video {
        width: 100%;
    }

    .exhibit .content .video .explanation {
        display: none;
    }
  }






